.review-container .heading {
    color: var(--secondary-color);
    font-size: 40px;
    font-weight: 700;
    display: inline-block;
    /* position: relative; */
}

/* .review-container .heading::after {
    content: '';
    height: 5px;
    width: 53%;
    background: var(--secondary-color);
    position: absolute;
    left: 25%;
    top: 60px;
} */



/* TESTIMONIAL STYLES */

#testimonial_area {
    /* padding: 10% 0; */
    background-color: var(--white-color);
}

.box-area {
    padding: 30px 30px 30px 30px;
    position: relative;
    display: block;
    background: #fff;
    background-color: var(--light-blue);
    color: var(--white-color);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 40px 0;
    border-radius: 10px;
}

.quote-icon {
    position: absolute;
    font-size: 100px;
    opacity: 0.4;
    top: 10px;
    left: 20px;
}

.box-area h5 {
    font-size: 32px;
    font-weight: 700;
    color: var(--white-color);
    margin-top: 10px;
    margin-bottom: 5px;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.box-area span {
    color: var(--secondary-color);
    display: block;
    font-size: 16px;
    margin: 0 0 10px;
    font-weight: 400;
}

.box-area .content {
    color: var(--white-color);
}

.box-area .img-area {
    width: 90px;
    height: 90px;
    /* position: absolute; */
    /* top: -40px;
    left: -70%;
    /* bottom: 0; */
    margin: 0 auto;
    /* right: 0;
    z-index: 1;  */
    border: 3px solid var(--secondary-color);
    border-radius: 50%;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
    /* margin-top: 20px; */
}

.box-area .img-area img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.socials {
    margin-top: 30px;
}

.socials i {
    margin: 0 10px;
    color: #0a69ed;
    font-size: 18px;
}

#testimonial_area .owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
}

#testimonial_area .owl-prev,
#testimonial_area .owl-next {
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #0a69ed;
    border-radius: 50%;
    text-align: center;
    background: #fff;
    position: absolute;
}

#testimonial_area .owl-prev {
    left: -60px;
    top: -30px;
}

#testimonial_area .owl-next {
    right: -60px;
    top: -30px;
}

@media only screen and (max-width: 991px) {
    .owl-nav {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .box-area {
        text-align: center;
    }

    .owl-nav {
        display: none;
    }
}
@media only screen and (min-width: 1200px){
    .set-width .owl-item {
        width: 562px !important;
    }
    
    .set-width .owl-stage-outer {
        height: 412px !important;
    }
    
} 

